In [94]:
import pandas as pd
import numpy as np
import os

In [95]:
# Apenas rodar esse notebook após capturar resultados dos modelo de AI Gen que estará em "./results"

In [96]:
results = sorted(os.listdir("./result"), key=lambda x: int(x.split("_")[1]))

In [97]:
df = pd.DataFrame()

In [98]:
df = pd.DataFrame()

for i, path in enumerate(results):

    df_result_range = pd.read_csv(f"result/{path}" ,sep =";")

    if (i+1) % 14 == 0:
        df_result_range = df_result_range.iloc[:5,:]

    df = pd.concat([df, df_result_range])

In [99]:
df

    number  classification
0        1               1
1        2               1
2        3               1
3        4               1
4        5               1
..     ...             ...
0      196               1
1      197               1
2      198               2
3      199               1
4      200               1

[200 rows x 2 columns]

In [100]:
real_label_eggs = pd.read_excel("./IAGenOvoscopia/OVOSCOPIA-1RODADA - Sem 28dias.xlsx")
real_label_eggs.columns = ["N_OVO", "OVOSCOPIA", 'TEMPO', 'observações']

In [101]:
df = df.rename(columns={'number': 'N_OVO', 'classification': 'predict'})
#df['N_OVO'] = range(1,801)
df['N_OVO'] = range(1, len(df) + 1)

In [102]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [103]:
final_df = real_label_eggs.merge(df)

In [104]:
print(final_df.columns)

Index(['N_OVO', 'OVOSCOPIA', 'TEMPO', 'observações', 'predict'], dtype='object')

In [105]:
cf_matrix = confusion_matrix(final_df['OVOSCOPIA'], final_df['predict'])

In [106]:
report = classification_report(final_df['OVOSCOPIA'], final_df['predict'])
print(report)

              precision    recall  f1-score   support

           1       0.75      0.93      0.83       108
           2       0.86      0.63      0.73        81
           3       0.83      0.56      0.67         9
           4       1.00      1.00      1.00         2

    accuracy                           0.79       200
   macro avg       0.86      0.78      0.81       200
weighted avg       0.80      0.79      0.78       200

In [107]:
analise_df = pd.read_excel("./analise.xlsx")

In [108]:
report = classification_report(final_df['OVOSCOPIA'], final_df['predict'], output_dict=True)
report_df = pd.DataFrame(report).transpose()
report_df.reset_index(inplace=True)
report_df.rename(columns={'index': 'classification'}, inplace=True)
analise_df = pd.concat([analise_df, report_df[['classification', 'precision', 'recall', 'f1-score', 'support']]], axis=1)

# Salvar o DataFrame atualizado no mesmo Excel
analise_df.to_excel("./analise.xlsx", index=False)  
analise_df

,prompt,classification,precision,recall,f1-score,support
0,"\n Analise as imagens, e classifique usando...",1,0.751880,0.925926,0.829876,108.00
1,NaN,2,0.864407,0.629630,0.728571,81.00
2,NaN,3,0.833333,0.555556,0.666667,9.00
3,NaN,4,1.000000,1.000000,1.000000,2.00
4,NaN,accuracy,0.790000,0.790000,0.790000,0.79
5,NaN,macro avg,0.862405,0.777778,0.806278,200.00
6,NaN,weighted avg,0.803600,0.790000,0.783204,200.00

In [110]:
print(analise_df)

                                              prompt classification  \
0  \n    Analise as imagens, e classifique usando...              1
1                                                NaN              2
2                                                NaN              3
3                                                NaN              4
4                                                NaN       accuracy
5                                                NaN      macro avg
6                                                NaN   weighted avg

   precision    recall  f1-score  support
0   0.751880  0.925926  0.829876   108.00
1   0.864407  0.629630  0.728571    81.00
2   0.833333  0.555556  0.666667     9.00
3   1.000000  1.000000  1.000000     2.00
4   0.790000  0.790000  0.790000     0.79
5   0.862405  0.777778  0.806278   200.00
6   0.803600  0.790000  0.783204   200.00